<com-card>
  <div class="container">
    <div class="wrapper">
<!--      <header>-->
<!--        <h1 [ngClass]="{ skeleton: loading }" *ngIf="header">-->
<!--          {{ header | uppercase }}-->
<!--        </h1>-->
<!--      </header>-->
      <section>
        <div class="grid-container">
          <div style="display: flex">
            <div
              style="
              display: flex;
              align-items: flex-start;
              width: 50%;
              flex-direction: column;
            "
            >
              <br>
              <div class="flex-container col" style="margin-bottom: 3rem">
                <com-label>Sigla</com-label>
                <span [ngClass]="{ skeleton: loading }">
                {{ evento?.sigla }}
              </span>
                <br>

                <com-label>Descrição</com-label>
                <span [ngClass]="{ skeleton: loading }">
                {{ evento?.descricao }}
              </span>
                <br>
                <com-label>Categoria</com-label>
                <span [ngClass]="{ skeleton: loading }">
                              {{ evento?.categoria.titulo }}
                            </span>
                <br>
                <com-label>Data Início</com-label>
                <span [ngClass]="{ skeleton: loading }">
                {{ evento?.dataInicio }}
              </span>
                <br>
                <com-label>Início da Indicação</com-label>
                <span [ngClass]="{ skeleton: loading }">
                {{ evento?.dataInicioIndicacao }}
              </span>
                <br>
                <com-label>Status</com-label>
                <span [ngClass]="{ skeleton: loading }">
                {{ evento?.statusEvento.descricao }}
              </span>
              </div>
            </div>
          </div>

          <div style="display: flex">
            <div
              style="
              display: flex;
              align-items: flex-start;
              width: 50%;
              flex-direction: column;
            "
            >
              <br>
              <div class="flex-container col" style="margin-bottom: 3rem">
                <com-label>Nome</com-label>
                <span [ngClass]="{ skeleton: loading }">
                {{ evento?.nome }}
              </span>
                <br>
                <com-label>Observações</com-label>
                <span [ngClass]="{ skeleton: loading }">
                {{ evento?.observacoes }}
              </span>
                <br>
                <com-label>Organização Gestora</com-label>
                <span [ngClass]="{ skeleton: loading }">
                {{ evento?.codOrganizacaoGestora }}
              </span>
                <br>

                <com-label>Data Término</com-label>
                <span [ngClass]="{ skeleton: loading }">
                {{ evento?.dataTermino }}
              </span>
                <br>
                <com-label>Término da Indicação</com-label>
                <span [ngClass]="{ skeleton: loading }">
                {{ evento?.dataTerminoIndicacao }}
              </span>
                <br>
                <com-label>Ticket</com-label>
                <span [ngClass]="{ skeleton: loading }">
                {{ evento?.ticket }}
              </span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div style="width: 100%; display: flex; justify-content: flex-end">
        <com-button fill routerLink="/evento/">
          <ng-container slot="text">voltar</ng-container>
        </com-button>
      </div>
    </div>
  </div>
</com-card>
