<com-form [id]="formId" [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
  <com-form-section partly formTitle="Categoria" step="1">
    <com-input style="width: 800px"
      formControlName="titulo"
      label="Título"
      [invalid]="
        (categoriaForm.get('titulo').invalid && categoriaForm.get('titulo').touched) ||
        categoriaForm.errors?.titulo
      "
    ></com-input>
    <div class="flex-container description">
      <com-textarea style="width: 800px"
        formControlName="descricao"
        label="Descrição"
        maxlength="4000"
        helper="Campo em texto livre"
        [invalid]="
          (categoriaForm.get('descricao').invalid &&
            categoriaForm.get('descricao').touched) ||
          categoriaForm.errors?.descricao
        "
      >
      </com-textarea>
    </div>
  </com-form-section>

  <com-form-section block>
    <com-fieldset>
      <div class="flex-container row end middle">
        <p-button
          fill
          confirm
          type="submit"
          [disabled]="categoriaForm.get('titulo').invalid"
        >
          <ng-container slot="text">{{
            this.data
              ? 'confirmar e editar capacitação'
              : 'confirmar e criar Categoria'
            }}</ng-container>
        </p-button>
      </div>
    </com-fieldset>
  </com-form-section>
</com-form>

<p-toast position="bottom-right"></p-toast>
