<div class="flex-container middle">
    <p-card class="card" [header]="pessoaSelecionada?.indicacao.pessoa.nome">
        <p><span class="title">EMAIL:</span> {{ pessoaSelecionada?.indicacao.pessoa.email }}</p>
        <p><span class="title">TELEFONE:</span> {{ pessoaSelecionada?.indicacao.pessoa.contatoPrincipal }}</p>
        <p><span class="title">OM DO INDICADO:</span> {{ pessoaSelecionada?.indicacao.pessoa.organizacao?.sigla }}</p>
        <p><span class="title">SOLICITADO POR:</span> {{ pessoaSelecionada?.indicacao.organizacaoSolicitante.sigla }}</p>
        <p><span class="title">OM BENEFICIADA:</span> {{ pessoaSelecionada?.indicacao.organizacaoBeneficiada.sigla }}</p>
        <p><span class="title">JUSTIFICATICA:</span> {{ pessoaSelecionada?.indicacao.justificativa }}</p>
        <p><span class="title">OBSERVAÇÕES:</span> {{ pessoaSelecionada?.indicacao.observacoes }}</p>
    </p-card>
</div>
