<header>
  <div class="flex-container col wrapper">
    <div class="flex-container col grow main-control">
      <div class="flex-container col grow aside-content">
        <div class="grid-item">
          <div class="flex-container row middle between aside-wrapper">
            <h2 class="fin-page-title" *ngIf="!id">Cadastro de Categoria</h2>
            <h2 class="fin-page-title" *ngIf="id">Edição de Categoria</h2>
<!--            <a-->
<!--              class="pi pi-bars"-->
<!--              style="font-size: 2rem"-->
<!--              [routerLink]="['/categorias', '']"-->
<!--            ></a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

  <div>
    <app-categoria-form [data]="data"></app-categoria-form>
  </div>



