<section>
  <div class="flex-container col wrapper">
    <div class="aside-wrapper">
      <div class="flex-container between">
        <div>
          <h2 class="indicacao-page-title">Análise das indicações ({{this.evento.nome}})</h2>
          <br>
          <p-message [severity]="checkPeriodoIndicacaoOk()?'info':'error'"
            text="Período de Indicação &nbsp; {{ evento?.dataInicioIndicacao  | date:'dd/MM/yyyy' }} a {{ evento?.dataTerminoIndicacao | date:'dd/MM/yyyy' }}">
          </p-message>
        </div>
        <div style="align-self: center;">
          <a [routerLink]="['/evento']">
            <com-button fill primary>
              <com-icon slot="icon">keyboard_backspace</com-icon>
            </com-button>
          </a>
        </div>
      </div>

    </div>

    <div class="div-botoes-om">
      <p-selectButton class="texto-btn-om" [options]="organizacoes" [(ngModel)]="organizacaoSelecionada"
        optionLabel="sigla" optionDisabled="inativo" (onOptionClick)="onOptionClick($event)">
      </p-selectButton>
    </div>

    <p-pickList [source]="fichas" [target]="fichasSelecionadas" [disabled]="isLoading || checkPropostaEncerrada() || checkEventoFinalizado()"
      sourceHeader="Fichas de indicação" targetHeader="Proposta" dragdrop="true" styleClass="test"
      [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" [responsive]="true"
      (onTargetReorder)="onTargetReorder($event)" (onMoveToTarget)="onMoveToTarget($event)"
      (onMoveAllToTarget)="onMoveToTarget($event)" (onMoveToSource)="onMoveToSource($event)"
      (onMoveAllToSource)="onMoveAllToSource($event)">
      <ng-template let-pickListItem pTemplate="item">
        <div class="p-mb-3">
          <app-item-participante [item]='pickListItem'></app-item-participante>
        </div>
      </ng-template>
    </p-pickList>

    <com-form-section>
      <footer class="flex-container end">

        <com-button fill confirm (click)="sendProposta()"
          *ngIf="this.proposta?.status == 'FINALIZADA'  && this.proposta?.status && this.orgLogada.id === this.evento.codOrganizacaoGestora">
          <a slot="text">Finalizar seleção</a>
        </com-button>

        <com-button fill [routerLink]="['/indicacao', 'cadastro' ,  idEvento]"
          *ngIf="this.proposta?.status == 'ABERTA'  || !this.proposta" [disabled]="proposta?.status == 'FINALIZADA' || !checkPeriodoIndicacaoOk() || checkPropostaEncerrada() || checkEventoFinalizado()">
          <a slot="text">Nova Ficha</a>
        </com-button>
        <com-button fill confirm (click)="salvarProposta()" *ngIf="this.proposta?.status == 'ABERTA' || !this.proposta"
          [disabled]="proposta?.status == 'FINALIZADA' || !checkPeriodoIndicacaoOk() || checkPropostaEncerrada() || checkEventoFinalizado()">
          <a slot="text">Salvar proposta</a>
        </com-button>
        <com-button fill secondary (click)="encerrarProposta()"
          *ngIf="this.proposta?.status == 'ABERTA'  || !this.proposta" [disabled]="proposta?.status == 'FINALIZADA' || !checkPeriodoIndicacaoOk() || checkPropostaEncerrada() || checkEventoFinalizado()">
          <a slot="text">Encerra Proposta</a>
        </com-button>
      </footer>
    </com-form-section>
  </div>
</section>
