@import 'src/assets/scss/breakpoints.scss';
@import 'src/assets/scss/mixins.scss';

:host{
  display: block;
  margin: 0 auto;
  max-width: 100%;

  @include respond-to(xl) {
    max-width: 138rem;
  }

  .wrapper {
    position: relative;
    width: calc(100% - calc(var(--padding)));
    margin: calc(var(--padding) / 2);
    margin-bottom: 3rem;

    .aside-wrapper {
      background: var(--lighter-grey);
      border-radius: 0.5rem;
      padding: var(--padding);
      margin-bottom: 3rem;

      .indicacao-page-title {
        font-weight: bold;
        font-size: 2.4rem;
        text-transform: uppercase;
      }
    }
  }
}