<com-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <com-form-section partly formTitle="Observação e Justificativa" step="2">
    <br />
    <div class="flex-container description">
    <com-textarea
      formControlName="observacoes"
      label="Observações"
      [invalid]="
        (form.get('observacoes').invalid && form.get('observacoes').touched) ||
        form.errors?.observacoes
      "
    ></com-textarea>
    </div>

    <br>

    <div class="flex-container description">
    <com-textarea
      formControlName="justificativa"
      label="Justificativa"
      maxlength="4000"

      [invalid]="
        (form.get('justificativa').invalid && form.get('justificativa').touched) ||
        form.errors?.justificativa
      "
    ></com-textarea>
    </div>
  </com-form-section>
  <com-form-section block>
    <footer class="flex-container end">
      <com-button (click)="back.emit()">
        <ng-container slot="text">anterior</ng-container>
      </com-button>
      <com-button fill (click)="voltarAnalise.emit()">
        <ng-container slot="text">voltar para a lista</ng-container>
      </com-button>
      <com-button (click)="next.emit()"  fill confirm>
        <ng-container slot="text">confirmar e gravar conclusão</ng-container>
      </com-button>
    </footer>
  </com-form-section>
</com-form>
