.flex-container{
    display: flex;
}

.participante-icon {
  font-size: 6rem;
  margin: 1rem;
}
.mydialog {
  width: 50vw;
}

@media screen and (max-width: 40em) {
  .mydialog {
    width: 155vw;
  }
}


.text-om {
  font-size: 1.35rem;
  text-transform: uppercase;
}

.text-pessoa {
  font-size: 1.7rem;
  font-weight: bold;
}

.table-actions {
  display: flex;
  & > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}

