.flex-container{
    display: flex;
}

.participante-icon {
  font-size: 6rem;
  margin: 1rem;
}
.mydialog {
  width: 50vw;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-size: 2.00rem;
}

::ng-deep .pi {
  font-family: 'primeicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}

@media screen and (max-width: 40em) {
  .mydialog {
    width: 155vw;
  }
}


.text-om {
  font-size: 1.35rem;
  text-transform: uppercase;
}

.text-pessoa {
  font-size: 1.7rem;
  font-weight: bold;
}

.table-actions {
  display: flex;
  & > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}

