<section @fadeIn>
  <header>
    <div class="flex-container between">
      <h2>Edição de evento #{{eventoForm.value.id}} ({{eventoForm.value.nome}})</h2>
      <div class="flex-container middle"></div>
    </div>
  </header>
  <div class="container">
    <div class="wrapper">
      <com-form [id]="formId" [formGroup]="eventoForm" (ngSubmit)="onSubmit()">
        <com-form-section block>
          <div class="grid-container">
            <div style="display: flex">
              <div
                style="
              display: flex;
              align-items: flex-start;
              width: 50%;
              flex-direction: column;
            "
              >
                <com-input
                  formControlName="sigla"
                  label="Sigla"
                  [invalid]="
              (eventoForm.get('sigla').invalid &&
                eventoForm.get('sigla').touched) ||
              eventoForm.errors?.sigla
            "
                ></com-input>

                <com-input
                  formControlName="categoriaId"
                  label="Categoria"
                  [invalid]="
              (eventoForm.get('categoriaId').invalid &&
                eventoForm.get('categoriaId').touched) ||
              eventoForm.errors?.categoriaId
            "
                ></com-input>
                <com-input
                  formControlName="statusEvento"
                  label="Status do Evento"
                  [invalid]="
              (eventoForm.get('statusEvento').invalid &&
                eventoForm.get('statusEvento').touched) ||
              eventoForm.errors?.statusEvento
            "
                ></com-input>
                <com-input
                  formControlName="dataInicio"
                  label="Data Início"
                  [invalid]="
              (eventoForm.get('dataInicio').invalid &&
                eventoForm.get('dataInicio').touched) ||
              eventoForm.errors?.dataInicio
            "
                ></com-input>
                <com-input
                  formControlName="dataInicioIndicacao"
                  label="Data Início da Indicação"
                  [invalid]="
              (eventoForm.get('dataInicioIndicacao').invalid &&
                eventoForm.get('dataInicioIndicacao').touched) ||
              eventoForm.errors?.dataInicioIndicacao
            "
                ></com-input>
                <com-textarea
                  formControlName="descricao"
                  label="Descrição"
                  maxlength="4000"
                  helper="Campo em texto livre"
                  [invalid]="
              (eventoForm.get('descricao').invalid &&
                eventoForm.get('descricao').touched) ||
              eventoForm.errors?.descricao
            "
                ></com-textarea>

              </div>
              <div
                style="
              display: flex;
              align-items: flex-start;
              width: 50%;
              flex-direction: column;
            "
              >
                <com-input
                  formControlName="nome"
                  label="Nome"
                  [invalid]="
              (eventoForm.get('nome').invalid &&
                eventoForm.get('nome').touched) ||
              eventoForm.errors?.nome
            "
                ></com-input>
                <com-input
                  formControlName="codOrganizacaoGestora"
                  label="Organização Gestora"
                  [invalid]="
              (eventoForm.get('codOrganizacaoGestora').invalid &&
                eventoForm.get('codOrganizacaoGestora').touched) ||
              eventoForm.errors?.codOrganizacaoGestora
            "
                ></com-input>
                <com-input
                  formControlName="ticket"
                  label="Ticket"
                  [invalid]="
              (eventoForm.get('ticket').invalid &&
                eventoForm.get('ticket').touched) ||
              eventoForm.errors?.ticket
            "
                ></com-input>
                <com-input
                  formControlName="dataTermino"
                  label="Data Término"
                  [invalid]="
              (eventoForm.get('dataTermino').invalid &&
                eventoForm.get('dataTermino').touched) ||
              eventoForm.errors?.dataTermino
            "
                ></com-input>
                <com-input
                  formControlName="dataTerminoIndicacao"
                  label="Data Término da Indicação"
                  [invalid]="
              (eventoForm.get('dataTerminoIndicacao').invalid &&
                eventoForm.get('dataTerminoIndicacao').touched) ||
              eventoForm.errors?.dataTerminoIndicacao
            "
                ></com-input>
                <com-textarea
                  formControlName="observacoes"
                  label="Observações"
                  maxlength="4000"
                  helper="Campo em texto livre"
                  [invalid]="
                  (eventoForm.get('observacoes').invalid &&
                    eventoForm.get('observacoes').touched) ||
                  eventoForm.errors?.observacoes
                "
                >
                </com-textarea>
              </div></div></div>

        </com-form-section>

        <com-form-section block>
          <com-fieldset>
            <div class="flex-container row end middle">
              <com-button
                fill
                routerLink="/evento/"
                style="margin-right: 1rem"
              >
                <ng-container slot="text">voltar</ng-container>
              </com-button>
              <com-button
                fill
                confirm
                type="submit"
                [form]="formId"
                [disabled]="eventoForm.invalid"
              >
                <ng-container slot="text">confirmar e gerar evento</ng-container>
              </com-button>
            </div>
          </com-fieldset>
        </com-form-section>
      </com-form>
    </div>
  </div>
</section>
